*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    
}

body{
    text-align: center;
    background-color: #000;
}

h1{
    color: #f535aa
}

h2{
    color: #f535aa
}

h3,p{
    color: #fff;
} 